# =====================
# Data (never commit)
# =====================
data*/
.tmp_kaggle_download/
*.csv
*.zip

# =====================
# Secrets
# =====================
kaggle.json
.env

# =====================
# Python
# =====================
__pycache__/
*.pyc
.venv/
env/

# =====================
# Jupyter
# =====================
.ipynb_checkpoints/

# =====================
# OS
# =====================
.DS_Store
Thumbs.db

